<mat-card class="grid-container" *ngIf="cards">
  <mat-card-header>
    <mat-card-title>
      Hospitals Serving Medicare Beneficiaries ({{hospitals.length}})
    </mat-card-title>
    <mat-card-subtitle>
      A list of hospitals registered with Medicare, as of July 21 2021. Original dataset is available at
      <a href="https://data.cms.gov/provider-data/dataset/xubh-q36u" target="_blank">
        https://data.cms.gov/provider-data/dataset/xubh-q36u
      </a>.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <mat-card class="exec-summary-card">
      <mat-card-content class="exec-summary">
        <p>
          List of Hospitals data provided by CMS for use with Hospital Compare data.
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-raised-button color="primary" style="margin: 10px" [routerLink]="['/about']">
          <mat-icon>lightbulb</mat-icon>
          Learn more
        </button>
        <a mat-raised-button color="accent" style="margin: 10px" target="_blank" rel="" href="/assets/hospitals.json"
          download>
          <mat-icon>download</mat-icon>
          Download data
        </a>
      </mat-card-actions>
    </mat-card> -->

    <mat-toolbar style="background: inherit">
      <span class="nav-spacer"></span>
      <mat-form-field class="search-input">
        <input matInput value="" aria-label="Search results by hospital name" name="search"
          placeholder="Search results by hospital name" [(ngModel)]="searchVal" #search="ngModel"
          (ngModelChange)="onSearch($event)" />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint *ngIf="searchVal">Found {{ cards.length }} of {{hospitals.length}} matching hospitals.</mat-hint>
      </mat-form-field>
    </mat-toolbar>


    <div style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: #424242;
        margin: 15px;
        border-radius: 5px;
        padding:15px;
      ">
      <mat-card class="dashboard-card" *ngFor="let card of cards; index as i">
        <mat-card-header>
          <mat-card-title>
            {{i+1}}. {{card['Facility Name'] | titlecase}}
          </mat-card-title>
          <mat-card-subtitle>
            {{card['Address']}} {{card['City']}} {{card['State']}} {{card['ZIP Code']}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="
              display: flex;
              flex-direction: row;
              align-items: stretch;
              margin: 15px;
            ">

            <div style="width: 50%; text-align: center" [ngStyle]="{
                color: card.verifiedMachineReadableFile ? '#69f0ae' : 'orange'
              }">
              <p aria-hidden="true">
                <mat-icon style="font-size: 3em; margin-left:-0.5em; ">
                  error_outline
                </mat-icon>
              </p>
              <p aria-hidden="true">Machine Readable File</p>
              <p class="cdk-visually-hidden">
                Verified Machine Readable File
                {{ card.verifiedMachineReadableFile ? "available" : "not available" }}
              </p>
            </div>

            <div style="width: 50%" [ngStyle]="{
                color: card.verifiedPricelists ? '#69f0ae' : 'orange'
              }">
              <p aria-hidden="true">
                <mat-icon style="font-size: 3em; margin-left:-0.5em; ">
                  error_outline
                </mat-icon>
              </p>
              <p aria-hidden="true">Display Of Pricelists</p>
              <p class="cdk-visually-hidden">
                Verified Price Lists
                {{ card.verifiedPricelists ? "available": "not available" }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-card-content>
</mat-card>